name: build rtems

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # 每月一号 00:00 UTC（北京时间08:00）
    - cron: '0 0 1 * *'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout github repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: false

    - name: 安装软件
      run: |
        sudo apt -y update
        sudo apt -y install python3 python3-pip
    
    - name: 执行权限
      run: |
        chmod +x *.sh
  
    - name: 下载仓库
      run: |
        ./download.sh

    - name: 下载编译器
      run: |
        mkdir INSTALL
        wget --quiet https://github.com/mengdemao/rtems_demo/releases/download/compiler/rtems-aarch64.tar.gz
        wget --quiet https://github.com/mengdemao/rtems_demo/releases/download/compiler/rtems-arm.tar.gz
        tar -vxf rtems-aarch64.tar.gz -C INSTALL
        tar -vxf rtems-arm.tar.gz -C INSTALL
    
    - name: Build Arm stm32f4
      run: |
        ./build.sh arm stm32f4
    
    - name: Build Arm imx7
      run: |
        ./build.sh arm imx7
    
    - name: Build Arm realview_pbx_a9_qemu
      run: |
        ./build.sh arm realview_pbx_a9_qemu

    - name: Build Aarch64 a72_lp64_qemu
      run: |
        ./build.sh aarch64 a72_lp64_qemu
